<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>junk</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>
<body>
    <div class="navbar-one flex">
        <div class="left flex">

            <div class="email">
                <i class="fa fa-envelope"></i>
                <span>homemovers@yourdoor.com  ||</span>
            </div>

            <div class="phone">
                <i class="fa fa-phone-alt"></i>
                <span>+254 97575723</span>
            </div>

            <div class="phone">
                <i class="fa fa-phone-alt"></i>
                <span>+254 716470665</span>
            </div>

        </div>
        <div class="right flex">
            <div class="twitter">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="fb">
                <i class="fab fa-facebook"></i>

            </div>
        </div>

    </div>

    <nav class="navbar-second flex">
        <div class="logo">
            
            <h1>STAR MOVERS</h1>
        </div>
        <ul class="flexx">
            <li><a href="#">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">Blog</a></li>
           
        </ul>
    </nav>
    
<section id="top">
    <div class="services">
        <div class="services1">
        <h3>WELCOME TO STAR MOVERS </h3>
        <div class="services2">
            <h2>We off the most convenient relocation services in and around Nairobi Kenya. <br> Our fast growing
            entity has the capacity to deliver quality services making us an ideal partner <br>You can easily reach us through our contacts at the top of
        the page. <br>Scroll down to explore what STAR MOCVERS is all about</h2>
        </div>
    </div>
        
    </div>
</section>

<div class="whyus">
    <h1>A brief History</h1>
</div>
<section id="wcu">
    <div class="reasons">
         <h1>STAR MOVERS</h1>
         <p>The birth of TOT was administered under paramount ethical and legal processions <br>
             to secure elite and convenient courier service in and <br>around East Africa <br>
             Together with our professional and diligent staff <br>

            we are capable and willing to help you carry your load across roads</p>
    </div>
    <div class="wcuicons">
        <div class="affordability">
            <i class="fab fa-twitter"></i>
            <span><p>dicounts</p>
                <p>free consultation</p>
                <p>dicounts</p>
                <p>free consultation</p>
            </span>
        </div>
        <div class="security">
            <span>
                <img src="{{ url_for('static', filename='SPAPHOTOS/movers7.jpeg') }}" >

            </span>
        </div>
      
        
    </div>
</section>

    

    <div class="container first">

        <h1 class="heading">our services</h1>
        <p>Choosing a reliable relocation company may prove to be stress leaving you under immense presseure.However,with the availability of 
            S-mile Movers,relocation has been simplified and designed to suit your desires.feel free to select any service.
            Use the request button for enquiries or fill the form below this section.
        </p>
    
        <div class="box-container">
    
            <div class="box">
                <img src="image/icon-1.png" alt="">
                <h3>household relocation</h3>
                <p>want to move to a new location? <br>
                contact us or send us your request through <br>
            our easy to fill form</p>
                <a href="#" class="btn">send request</a>
            </div>
    
            <div class="box">
                <img src="image/icon-2.png" alt="">
                <h3>courier-services</h3>
                <p>Parcel delivery is now simple and secure, 
                    we also package and deliver bulk goods <br>
            contact for more info</p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="image/icon-3.png" alt="">
                <h3>Storage</h3>
                <p>Not sure where to keep your valuable items?
                    Well while thinking about it,we offer alternative storage and warehouse solutions
                </p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="image/icon-4.png" alt="">
                <h3>electronic installations</h3>
                <p>We always intend to leave you settled,taking the bother of making sure ou kickstart your new life without breaking a sweat</p>
                <p>TV Mounting, Wifi-Reconnection, solar Reconnection,</p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="image/icon-5.png" alt="">
                <h3>Cleaning</h3>
                <p>settling into a new home may be hectic if necessary precautions when it comes to cleanliness are ignored.
                    We therefore offer general and specialized house cleaning services. <br> fumigation vaccum-cleaning lawn-mowing </p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="image/icon-6.png" alt="">
                <h3>Find a home</h3>
                <p>Want to move but not sure where to?Well,dont stress.
                    We are also keen to help you find a suitable home that matches your desires</p>
                    <p>explore the various popular destinations and send an enquiry for vacancies </p>
                <a href="#" class="btn">read more</a>
            </div>
    
        </div>

    
    </div>
    <div class="formhead">
        <h1>let us know</h1>

    </div>
    <div class="formhead">

        <div id="form-section"></div>
        </div>
    <div class="formhead">
        <p>Our Personalized customer care service makes sure your feed back is relevant and timely</p>
       

    </div>
  
    <div class="formhead">
        
        <p>The form als helps us approximate the potential cost of your move</p>
        


    </div>
    <div class="formhead">
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
             <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        
    </div>
  
    <section class="contacts">
        <div class="chead">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, dicta? Labore, perferendis fuga obcaecati enim modi dolorem! Sint ab nihil reiciendis in, nesciunt deserunt unde, ut, nobis obcaecati perspiciatis placeat?</p>
        </div>

        
        <div class="container second">
            <div class="form-and-contact">
                <div class="contact-form">
                    <div class="cfqf">
                        <h2>quotation form</h2>
                
                    </div>
                    <form action="{{ url_for('submit_form')}}" method="POST">
                        <fieldset>
                            <legend>Send an enquiry by filling in the form <br>Feel free to express any concerns in your message</legend>
    
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="name">Full name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
    
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" required>
                                </div>
                            </div>
    
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="phone_number">Phone number</label>
                                    <input type="text" name="phone_number" class="form-control" id="phone_number" required>
                                </div>
    
                                <div class="form-group">
                                    <label for="moving_from">Moving From (state, town, and estate)</label>
                                    <input type="text" name="moving_from" class="form-control" id="moving_from" required>
                                </div>
                            </div>
    
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="moving_to">Moving To (state, town, and estate)</label>
                                    <input type="text" name="moving_to" class="form-control" id="moving_to" required>
                                </div>
    
                                <div class="form-group">
                                    <label for="type_of_house">Type of house</label>
                                    <input type="text" name="type_of_house" placeholder="maisontte,flat/apartment,bungalow" class="form-control" id="type_of_house" required>
                                </div>
                            </div>
    
                            <div class="form-row" id="bedroom-group">
                                <div class="form-group">
                                    <label for="state_floor_number">State floor number (if apartment)</label>
                                    <div class="input-container">
                                    <input type="number" name="state_floor_number" class="form-control" id="state_floor_number" required>
                                    </div>
                                </div>
    
                                <div class="form-group" id="bedroom-group">
                                    <label for="bedroom_numbers">Number of bedrooms</label>
                                    <div class="input-container">
                                        <input type="number" name="bedroom_numbers" class="form-control small-input" id="bedroom_numbers" required>
                                        <div class="typed-text" id="typed-text-bedrooms"></div>
                                    </div>
                                </div>
                        
                        
                            <div class="form-row">
                                <div class="form-group centralized-checkbox">
                                    <label>TV Mounting</label>
                                    <div class="yes-no-options">
                                        <input type="radio" id="tv_mounting_yes" name="tv_mounting" value="yes">
                                        <label for="tv_mounting_yes">Yes</label>
                                        <input type="radio" id="tv_mounting_no" name="tv_mounting" value="no" checked>
                                        <label for="tv_mounting_no">No</label>
                                    </div>
                                </div>
                    
                                <div class="form-group centralized-checkbox">
                                    <label>WiFi Installation/Reconnection</label>
                                    <div class="yes-no-options">
                                        <input type="radio" id="wifi_installation_yes" name="wifi_installation" value="yes">
                                        <label for="wifi_installation_yes">Yes</label>
                                        <input type="radio" id="wifi_installation_no" name="wifi_installation" value="no" checked>
                                        <label for="wifi_installation_no">No</label>
                                    </div>
                                </div>
                    
                                <div class="form-group centralized-checkbox">
                                    <label>Cleaning</label>
                                    <div class="yes-no-options">
                                        <input type="radio" id="cleaning_yes" name="cleaning" value="yes">
                                        <label for="cleaning_yes">Yes</label>
                                        <input type="radio" id="cleaning_no" name="cleaning" value="no" checked>
                                        <label for="cleaning_no">No</label>
                                    </div>
                                </div>
                                <div class="form-group" id="date-group">
                                    <label for="moving_date">Moving Date</label>
                                    <div class="input-container">
                                        <input type="date" name="moving_date" class="form-control small-input" id="moving_date" required>
                                        <div class="typed-text" id="typed-text-date"></div>
                                    </div>
                                </div>
    
                            <div class="form-group">
                                <label for="type_message">Type your message...</label>
                                <textarea name="message" class="form-control" id="type_message" rows="4" required></textarea>
                            </div>
    
                            <button type="submit" class="btn btn-white mb-2">Send</button>
                        </fieldset>
                    </form>
                   
                </div>
    
            </div>
            <div class="conlogo">
               
            <div class="conimg">
                <p>visit us in person</p>
                <img src="{{ url_for('static', filename='SPAPHOTOS/mover4.jpeg') }}" >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum 
                    sunt sequi pariatur minus dolor reprehenderit cumque id magni officiis voluptatem accusantium temporibus voluptatibus, 
                    culpa architecto quidem dolore. Laudantium, nisi.</p>
            
            

        </div>
        </div>
   
            
            <div class="contact-info">
                <p>Contact Info</p>
                <div class="email">
                    <div class="mail">
                    <p>send us an email</p>
                    <i class="fa fa-envelope"></i>
                    <span>homemovers@yourdoor.com"</span>
                </div>
                <div class="callus">
                    <p>call us</p>
                    <i class="fa fa-phone-alt"></i>
                    <span>+25497575723 <br>+25416470665</span>
                </div>
            </div>
            </div>
        </div>
    </section>
   
     <div class="lhsheader">
        <div class="lhsheaderitems">
        <h1> Reviews</h1>
        <p>Choosing a reliable relocation company may prove to be stress <br>leaving you under immense presseure. <br>
            However,with the availability of 
            S-mile Movers,relocation has been simplified and designed to suit your desires. <br>
             feel free to select any service.
            Use the request button for enquiries or fill the form below this section.s
        </p>
     </div>
    </div>
    
    <section id="lhs">
        <div class="lhsclass">
        <div class="snips">
        <div class="sec">
            
                <img src="{{ url_for('static', filename='SPAPHOTOS/movers7.jpeg') }}" >
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Similique doloremque labor <br>perspiciatis voluptatem reprehenderit quaerat <br> alias dolore explicabo provident?
                    <br> Dignissimos accusantium porro voluptatem. <br>
                     Culpa ipsum veritatis delectus <br> suscipit, rerum minima.
                     Lorem ipsum dolor sit, <br> amet consectetur adipisicing elit.
                     Similique doloremque labor <br>perspiciatis voluptatem reprehenderit quaerat <br> alias dolore explicabo provident?
                     <br> Dignissimos accusantium porro voluptatem. <br>
                      Culpa ipsum veritatis delectus <br> suscipit, rerum minima.</p>

                      <div class="spby">
                         <div class="secfnote">
                    
                            <h1>DRIVEN BY</h1>
                            <img src="{{ url_for('static', filename='SPAPHOTOS/VOLVO.JPG') }}" >
                            <p>Roadrunner<br>Total persistence</p>  
                         </div>
                     </div>
        </div>
            <div class="sectwo">
                
                    <img src="{{ url_for('static', filename='SPAPHOTOS/mover4.JPEG') }}" >
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Similique doloremque labor <br>perspiciatis voluptatem reprehenderit quaerat <br> alias dolore explicabo provident?
                        <br> Dignissimos accusantium porro voluptatem. <br>
                         Culpa ipsum veritatis delectus <br> suscipit, rerum minima.
                         Lorem ipsum dolor sit, <br> amet consectetur adipisicing elit.
                         Similique doloremque labor <br>perspiciatis voluptatem reprehenderit quaerat <br> alias dolore explicabo provident?
                         <br> Dignissimos accusantium porro voluptatem. <br>
                          Culpa ipsum veritatis delectus <br> suscipit, rerum minima.</p>
                
                 <div class="fnote">
                    <div class="sectwofnote">
                
                        <img src="{{ url_for('static', filename='SPAPHOTOS/VOLVO.JPG') }}" >
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Similique do labor <br>perspiciatis reprehenderit quaerat <br> alias dolore explicabo provident?
                            <br>  Culpa ipsum veritatis delectus <br> suscipit, rerum minima.
                             Lorem ipsum dolor sit, <br> amet consectetur adipisicing elit.
                             Similique doloremque labor</p>  
                    </div>
    
                 </div>
            </div>

        </div>
    </div>
    </section>

    
        <div class="galleryhead">
            <h1>gallery</h1>

        </div>
        <div class="gallerywrap">
            <img src="{{ url_for('static', filename='SPAPHOTOS/back.png')}}" id="backbtn">
    
        <div class="gallery">
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
            <div>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
                <span><img src="{{ url_for('static', filename='SPAPHOTOS/movers18.jpeg') }}"></span>
            </div>
        </div>
        <img src="{{ url_for('static', filename='SPAPHOTOS/next.png')}}" id="nextbtn">
    </div>
        </div>
    </div>
       
        <section id="foot">
            <div class="reasons">
                 <h1>Why Trucks on tracks?</h1>
                 <p>The birth of TOT was administered under paramount ethical and legal processions <br>
                     to secure elite and convenient courier service in and <br>around East Africa</p>
                     <div class="email">
                        <div class="mail">
                        <p>send us an email</p>
                        <i class="fa fa-envelope"></i>
                        <span>homemovers@yourdoor.com"</span>
                    </div>
                    <div class="callus">
                        <p>call us</p>
                        <i class="fa fa-phone-alt"></i>
                        <span>+25497575723 <br>+25416470665</span>
                    </div>
                </div>
            </div>


            
                <div class="affiliates">
                    <span><h1>Affiliates</h1>
                        <p><i class="fab fa-twitter"></i>Skyly</p>
                        <p><i class="fab fa-twitter"></i>Faster</p>
                        <p><i class="fab fa-twitter"></i>S-MILE</p>

                    </span>
                </div>

                <div class="otherservices">
                    <h3>              </h3>
                    <h5>                              </h5>
                    <a href="/customers" class="btn btn-primary">real estate advertisement</a>
                    <a href="/home" class="btn btn-primary">real estate consultancy</a>
                    <a href="/home" class="btn btn-primary">Hire Truck Drivers</a>

                
                </div>
            </div>
        </section>



















        <script>
            let scrollContainer = document.querySelector(".gallery")
            let backbtn = document.getElementById("backbtn")
            let nextbtn = document.getElementById("nextbtn")

            scrollContainer.addEventListener("wheel",(evt)=>{
                evt.preventDefault();
                scrollContainer.scrollLeft += evt.deltaY;
                scrollContainer.style.scrollBehavior = "animate"
            });
            nextbtn.addEventListener("click", ()=>{
                scrollContainer.style.scrollBehavior = "smooth"
                scrollContainer.scrollLeft += 300;
            });
            backbtn.addEventListener("click", ()=>{
                scrollContainer.style.scrollBehavior = "smooth"
                scrollContainer.scrollLeft -= 300;
            })



        

        </script>
       
        <script>
       const bedroomInput = document.getElementById('bedroom_numbers');
       const bedroomTypedText = document.getElementById('typed-text-bedrooms');
       const dateInput = document.getElementById('moving_date');
       const dateTypedText = document.getElementById('typed-text-date');

       bedroomInput.addEventListener('input', function() {
       bedroomTypedText.textContent = this.value || " "; // " " ensures that the space stays visible
});

       dateInput.addEventListener('input', function() {
       dateTypedText.textContent = this.value || " "; // " " ensures that the space stays visible
    // Additional logic for date input, if needed
});

      bedroomInput.addEventListener('blur', function() {
      bedroomTypedText.textContent = ""; // Clear typed text when input box loses focus
});

     dateInput.addEventListener('blur', function() {
     dateTypedText.textContent = ""; // Clear typed text when input box loses focus
});
        </script>

    
           
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
                
</body>
</html>